// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, html {
    height: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/../images/kid.jpg");
  height: 95vh!important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.opacity-50 {
    opacity: 0.5;
}

#map {
  height: 400px;
  width: 100%;
}

.border-3 {
    border-bottom: 3px solid black !important;
}

.border-1 {
    border-bottom: 1px solid black !important;
}

.font-bold {
    font-weight: bold!important;
}

.text-black {
    color: #212529;
}

.text-red {
    color:red!important;
}

.text-message-date {
    font-size: 1.3vh;
    opacity: 0.75;
}

.text-opacity-50 {
    opacity: 0.5!important;
}

.secondCartCount {
    font-size: 15px;
    background: red;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
    margin-top: -7px;
}
